*{
	font-family: Arial, sans-serif;
}

A{
	color: rgb(50, 80, 184);
}

.TG{
	display: block;
	background: black;
	color: white;
	font-size: 16pt;
	border: 20px solid black;
	text-align: center;
	text-decoration: none;
	width: 30%;
}

IMG{
	border:5px solid black;
}

.ERROR{
	color: rgb(184, 100, 100);
}
.WHITELIST{
	background: pink;
	color: red;
}
.BLACKLIST{
	background: lime;
	color: green;
}
TEXTAREA{
	font-family: monospace;
	font-size: 12pt;
}
